<br/>
<div class="ui center aligned header">
  <h1 class="largest-font"><%= @board.board_name%></h1>
</div>
<h1 class="ui center aligned header">L I S T S</h1>
<h3 class="ui center aligned header">Choose a List to view Tasks</h3>
<br/>
<div>
  <%= link_to 'Create a new list', new_board_list_path(@board), class: "ui small blue button" %>
  <%= link_to 'Back To board', boards_path, class: "ui right floated small blue button"%>
</div>
<br/>
<hr/>
<div class="ui grid">
  <% @board.lists.each do |list| %>
   <div class="sixteen wide mobile eight wide tablet four wide computer column">
      <div class="ui red card">
        <div class="ui center aligned content">
          <h3 class="ui medium heading padding3">
            <%= link_to list.list_name, board_list_path(@board, list), class:"ui orange button " %> </h3>
          <hr/>
          <div class="content">
          <i class="pencil alternate icon"><%= link_to '', edit_board_list_path(@board, list) %></i>
          <i class="trash alternate icon"><%= link_to '', board_list_path(@board, list), method: :delete%> </i>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
<br/>
