<br/>
<div class="ui center aligned header">
  <h1 class="largest-font"><%= @list.list_name %></h1>
</div>
<h1 class="ui center aligned header">T A S K S</h1>
<%= link_to 'Add Task', new_list_task_path(@list), class:"ui small center aligned blue button" %>
<%= link_to 'Back To List', board_lists_path, class: "ui right floated small blue button"%>
<br/>
<hr/>
<br/>
<div class="ui centered cards">
  <div class="card">
    <div class="content">
      <h2>In Progress Tasks</h2>
        
      <hr/>
      <br/>
      <div class="content">
        <% @list.tasks.each do |task| %>
          <% if task.completed == false %>
            <h3><%= task.task_name%></h3>
            <p><%= task.description%></p>
            <div class="ui extra content">
              <i class="pencil alternate icon padding1"><%= link_to '', edit_list_task_path(@list, task)%></i>
              <i class="trash alternate icon padding1"<%= link_to '', list_task_path(@list, task), method: :delete%></i>
              <%= link_to 'Completed', completed_tasks_path(@list, task), method: :patch, class: "padding1" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="content">
      <h2>Completed Tasks</h2>
        <hr/>
        <% @list.tasks.each do |task| %>
          <% if task.completed? %>
            <h4><%= task.task_name%></h4>
            <%= link_to 'Remove', clear_tasks_path(@list, task), method: :delete, class:"ui mini orange button" %>
          <% end%>
        <% end %>
    
    </div>
  </div>
</div>

